[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.orig
.idea

_ReSharper*/
*.[Rr]e[Ss]harper

_NCrunch*/
*.ncrunchsolution
*.ncrunchproject

log/
logs/
node_modules/
_artifacts/
.sonar/
*.psess
*.vsp
